<div class="container mt-5">
    <div class="row">
        <div class="mx-auto">
            <div class="card shadow-lg text-center">
                <div class="card-body">
                    <h3 class="card-header">La página que buscas no fue encontrada</h3>
                <img src="/img/not-found.png" alt="">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>