<div id="index" class="py-5">
  <main class="py-5">
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-2 display-1">House</h1>
      <h3 class="mb-5">
        <em>Sitio oficial de "Los de la Casa"</em>
      </h3>
      <a class="btn btn-primary btn-lg" href="/users/signin">
        Comenzar
      </a>
    </div>
  </header>
</main>
</div>