<div class="d-flex justify-content-center mt-3">
  <div class="card col-md-8" id="add">
  <div class="card-header bg-dark">
    <h3 class="card-title text-white">
      <i class="fas fa-image"></i> Subir imagen
    </h3>
  </div>
  <div class="card-body">
    <form action="/send/post" method="post" enctype="multipart/form-data">
      <div class="form-group mb-3">
        <input
          type="file"
          class="form-control"
          name="image"
          id="inputGroup"
          aria-describedby="inputGroupFileAddon"
          required
        />
      </div>
      <div class="form-group mb-3">
        <input
          type="text"
          name="title"
          class="form-control"
          placeholder="Título para la imágen"
          required
        />
      </div>
      <div class="form-group mb-3">
        <textarea
          name="description"
          rows="3"
          class="form-control"
          placeholder="Descripción para la imágen"
        ></textarea>
      </div>
      <div class="form-group d-flex flex-row-reverse">
        <button class="btn btn-success">
          <i class="fa fa-upload me-2"></i>Subir imágen
        </button>
      </div>
    </form>
  </div>
</div>
